<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>948591300993-fb5177rf7hi6mrn3iulfsm7ppi6alrpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948591300993-fb5177rf7hi6mrn3iulfsm7ppi6alrpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBQAhC_1MuUJfVkXaRuCpIRm32GSieqlsE</string>
	<key>GCM_SENDER_ID</key>
	<string>948591300993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maarifa.discipletoolsmobile</string>
	<key>PROJECT_ID</key>
	<string>disciple-tools-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>disciple-tools-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948591300993:ios:409e6c470f5f8cf8</string>
	<key>DATABASE_URL</key>
	<string>https://disciple-tools-mobile.firebaseio.com</string>
</dict>
</plist>